@import "./rippleaccounttransactionstats";
@import "./rippleoffersexercisedsummary";
@import "./balanceoverview";
@import "./transactionssummary";
@import "./transactions";
@import "./ripplecapitalization";
@import "./searchbar_account";
@import "./transaction_explorer.scss";

.loading {
	height:60px;
	display: block;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	position: absolute;
}

.customSelector {
	display: inline-block;
  padding: 4px 3px 3px 5px;
  max-width:200px;
  margin: 0;
  font: inherit;
  font-size:14px;
  line-height: 1.2;
  background: #FFFFFF;
  color:#004756;
  border:0.1;
}

.panel-title-text {
  font-size:17px;
  font-weight: 500;
}

.title-address {
  font-size :14px;
  font-weight:normal;
  z-index: 10;  
  position: absolute;  
  right: 10px; 
  top: 3px;
}

.title-name {
  display:block;
  font-size:14px;
  font-weight:normal;
  z-index: 10;  
  position: absolute;  
  right: 6px;  
  top: 23px;
}

.check {
  text-align:center;
}

.checkwrong {
  color:#b01e2e;
}

.checkright {
  color:rgb(51, 153, 51);
}

