.totalfiat {
	font-size:20px;
	float:left;
	padding-top:5px;
	margin-left:0px;
}

.totalcurrencyimg {
	padding-top:5px;
	margin-left:10px;
	float:left;
}

#balanceoverviewselector {
	width:180px;
}

.totalvaluetitle {
	display:inline;
}

.networthcontainer {
	height:80px;
	border-style:solid;
	border-width:1px;
	border-color:#B8C6B8;
	padding:10px;
}


.currencyimgoverview {
  height:24px;
  width:24px;
  transform: translateY(-10%);
}