@media screen and (min-width: 1024px) {
	#ripplelogo {
		height:2.5em;
		margin-left:3%;
		margin-top:1%;
	}

	#rippletitle {
		margin-left: 15%;
		font-size: 2em;
	}

	#bigsearch {
		margin-left: -15%;
		margin-top: -9em;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30em;
		height:9em;

	}
}

@media screen and (max-width: 800px) {
	#ripplelogo {
		height:1em;
		margin-left:3%;
		margin-top:1%;
	}

	#rippletitle {
		margin-left: 15%;
		font-size: 1em;
	}

	#bigsearch {
		margin-left: -6em;
		margin-top: -2.25em;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 12em;
		height:4.5em;

	}

	#search > input {
		height: 2em;
		font-size:0.75em;
	}

	#search > input + i {
		top:0.4em;
	}
}