.received {
	background: #92D492 !important; 
}

.sent {
	background: #E87070 !important;
}

@media screen and (max-width: 500px) {
	.pymnttxhash {
		display:none;
	}
}

.source_currency {
	width: 1em;
	text-align: center;
}


.balancetablepymnt_address {

}

.pymnt_time {
	width:10em;
}

@media (max-width:1028px) {
	.balancetablepymnt_address {
	    max-width: 5em;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;

	}
}