.sell {
	color:#b01e2e;
	font-weight:bold;
}

.buy {
	color:#339933;
	font-weight:bold;
}

.exchange {
	color:#124A51;
	font-weight:bold;
}

.ofexsum_title {
	vertical-align:middle;
	font-size:20px;
}


.offerexercisedhaspaid {
	float:left;
}

.offerexercisedgotpaid {
	float:left;
}

.offersexercisedissuer_gotpaid {
	float:left;
	font-size:10px;
}

.offersexercisednumberorders {
	float:left;
	display:block;
}
.offersexercisedaverageamount {
	display:block;	
}

.offersexercisedtxhash {
	font-size:8px;
	width-max:50px;
}