.sell {
	color:#b01e2e;
	font-weight:bold;
}

.buy {
	color:#339933;
	font-weight:bold;
}

.exchange {
	color:#124A51;
	font-weight:bold;
}

.ofexsum_title {
	vertical-align:middle;
	font-size:20px;
}

.offersexerciseddate {
	float:right;
	font-size:12px;
}

.offersexercisedamount {
	font-color:black;
	color:black;

}

.offersexercisedissuer {
	float:left;
	font-size:10px;
	color:black;
	display:block;
	margin-top:3px;
}

.offerexercisedhaspaid {
	float:left;
}

.offerexercisedgotpaid {
	float:left;
}

.offersexercisedissuer_gotpaid {
	float:left;
	font-size:10px;
}

.offersexercisednumberorders {
	float:left;
	display:block;
}
.offersexercisedaverageamount {
	display:block;	
}

.offersexercisedtxhash {
	font-size:8px;
	width-max:50px;
}