.didntissueiou {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	border-style:solid;
	border-width:1px;
	font-size: 20px;
	border-color: rgba(0, 0, 0, 0.3);
	transform: translate(-50%,-50%);
	border-spacing:10px;
	padding:10px;
}