.loading_search {
	height:1em;
	width:1em;	
	top:-2em;
 
}

.searchinput {

}

.search_account {
	width:80%;
}

#searchvalidid {
	color: #3EA751;
	display:inline;
	font-size:1em;
}

.searchbutton {
	display:inline;
}

.errormsg {
	color:#F40808;
}

#bigsearch  {
  width:50%;
}



#ripplelogo {
	float:left;
}
