.tab {
	margin-top: 4em;
	margin-left: - 0.5em;
	margin-right: 0.6em;
	width: inherit;
}

.tab a {
	margin-left:1em;
}

.tab input {
	margin-left:1em;
}

@media screen and (max-width: 550px) {
	.tab {
		margin-top: 6em;
		font-size: 0.7em;
		margin-left: 1em;
		margin-right: 1em;
		width: inherit;
	}
}


.searchTabContainer {
	width: 33.8%
}