.title_float_right {
	float:right;
}

.loadingstatus {
	left:50%;
	top:65%;
	position:absolute;
	transform: translate(-50%, -50%);
}

.loadingstatus_date1 {
	left:50%;
	top:70%;
	position:absolute;
	transform: translate(-50%, -50%);
}
.loadingstatus_date2 {
	left:50%;
	top:75%;
	position:absolute;
	transform: translate(-50%, -50%);
}


.loadingbuttonstop {
	left:50%;
	top:85%;
	position:absolute;
	transform: translate(-50%, -50%);
}

.transactiondetailbutton {
	font-size:15px;
	text-align:center;
}

.search-container {
	float:left;
	color:#124A51;
	font-size:12px;
	margin-top:20px;
}

.per-page-container {
	display:inline;
	float:right;
	color:#124A51;
	font-size:12px;
}

.pagination {
	margin:0px;
	font-size:12px;
}

.tablelineoverflow {
	max-width:0px;
}

.iscollapsed {
	background-color:rgb(195, 202, 226);
}

.layoutfixed {
	/*table-layout:fixed;	*/
	font-size:12px;
	width:650px;
}

.allsmallpie {
	width: 700px;
	display:inline;
	float:left;
	margin-left:15px;
	margin-top:10px;
}

.alltransactions {
	float:right;
	width:350px;
	font-size:12px;
	margin-right:0px;
	margin-left:15px;
	margin-top:13.5px;
}

.griddletransactions {
	margin-top:15px;
}

.maintitleminipie {
	width:200px;
	font-size:15px;
	color:#124A51;
	font-weight:bold;
}
.maintitlealltransactions {
	width:200px;
	font-size:15px;
	color:#124A51;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:0px;
	padding-left:20px;
}

.transactioncurrencytitle {
	font-size: 20px;  
	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}
.PieChart_bignumber {
	position: relative;
  	top: 50%;
 	transform: translateY(-75%);
}

.transactionsmallpie {
	height: 80px;
	width: 260px;
	float:left;
}

.totalcashinoutt {
	font-size: 12px;  
	top:-142%;
	left:145px;
	position:relative;
	line-height:1;
}

.totalcashin {
	color:rgb(51, 153, 51);
}

.totalcashout {
	color:rgb(176, 30, 46);
}

.totalstandard {
	color:#124A51;
}