

.bar:hover {
  fill: brown;
}

.axis {
  font: 16px sans-serif;
  fill: #124A51;
}

.offersnumber {
	fill: #124A51;
}

.midtext {
	fill:#ffffff ;

	font-weigth: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}