#PaymentChart {
	/*left:10%;
	right:10%;
	width:80%;
	position:absolute;*/
    border-style:solid;
    border-width:2.5px;
    border-color: rgb(54, 63, 56);
}

.paymentgraph {
	background-color: #02061D;
}

.node {
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
} 

.nodeLabel {
	stroke: #323232;
    font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
    font-weight: normal;
    stroke-width: .5;
    font-size: 0.5em;
}
#stopfetchpymnt {
    color:#004756;
    background-color:white;
}
#pymnttrackingselector {
    display:inline;
    color:#004756;
    font-size:1em;
    background:#FFFFFF;
    vertical-align:top;
   
}

#pymnttrackingselector label {
    margin-right: 0.2em;
}
#pymnttrackingselector select {
    background-color: white;
    margin-right:0.8em;
}
 
.graphControl {
    background: rgb(5, 4, 4);
    height: 8.5em;
}

.loadingbuttonstop_pymnt {
    
}

#addressdetails {
    height: 8.5em;
    width: 20em;
    background: rgb(5, 4, 4);
    float: right;
    overflow-y: scroll;
    padding-top:0.5em;
    padding-left: 1em;
}

#fetchstatus {
    height: 8.5em;
    width: 20em;
    background: rgb(5, 4, 4);
    float: right;
    overflow-y: scroll;
    padding-top:0.5em;
    padding-left: 1em;
}

#checkOptions {
    padding-top:0.5em;
    padding-left: 1em;
    float:left;
}

.fetchlist {
    font-size: 0.7em;
    color: white;  
}

#pymntcontrol {
    display:inline;
}

#stopfetchingbutton {
    float:right;
    margin-right: 2em;
}