.arc path {
 stroke-width:0px;
}

.piechart_overview {
	display:block;
}

.piechartLabel {
	font-size: 14px;
	fill:#83828C;
}
.PieChart {
	left:50%;
	position:absolute;
	transform: translate(-100px, -15px);
}
