doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel='stylesheet')
		link(rel='stylesheet', href='./css/home.css')
		
	body#page-top.index

		nav.navbar.navbar-default.navbar-fixed-top
			.container
				a.center-block.navbar-brand(href="#page-top") Ledger Monitor
		section#feature.first
			.container
				.row.text-center
					.col-sm-6.feature-item
						a(href="/app")
							.caption
								.caption-content
									i.fa.fa-pie-chart
							p Account Report
					.col-sm-6.feature-item
						a(href="/paymenttracking")
							.caption
								.caption-content
									i.fa.fa-binoculars
							p Payment Tracking
					.col-sm-6.feature-item
						a(href="/transaction")
							.caption
								.caption-content
									i.fa.fa-area-chart
							p Transaction

		script(src='./js/home.js')
